<div data-controller="hello" data-hello-clicks-value=0>
	<button	data-hello-target="toggler" data-action="hello:arandommethod->nestedhello#anotherrandommethod">Click Me</button>	
	<div data-controller="nested-hello" data-nested-hello-somelogicalname-class="randomattribute">
		<p> I want to be hidden</p>
	</div>
</div>

<style type="text/css">
	.bla{
		display: hidden;
	}
</style>